<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470345961863-06d4b12d93b3?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80;">
  <div class="container">
    <div class="banner-content">
      <h1>La réussite de votre évènement commence ici</h1>
    </div>
  </div>
</div>

        <div class="corps">
          <h2>Comment s'appelle votre évènement ?</h2>
          
            <%= simple_form_for [:organizer, @event] do |f| %>
            <%= f.input :name, 
                    required: true,
                    placeholder: "🏷 Salon de l'agriculture, marriage de ma tante...",
                    input_html: { autocomplete: "email" } %>
            <%= f.input :description,
                    placeholder: "Rapide description de votre évènement" %>
            <%= f.input :full_address,
                    required: true,
                    placeholder: "Où se situe votre évènement ?",
                    input_html: { autocomplete: "email" } %>
            <%= f.input :company,
                    placeholder: "Si vous representez une entreprise, vous pouvez l'indiquer ici",
                    required: true,
                    input_html: { autocomplete: "email" } %>
            <div class="inlindedate">
                <%= f.input :start_date, as: :string,
                        required: true,
                        placeholder: "Quand débute votre évènement ?",
                        label: false,
                        input_html: {class: "datepicker"} %>
                <%= f.input :end_date, as: :string,
                        required: true,
                        placeholder: "Quand se finit-il ?",
                        label: false,
                        input_html: {class: "datepicker"} %>
            </div>
            <div class="boutoncreate">
            <%= f.submit "Create", class: "btn btn-primary" %>
          <% end %>
      </div>
        </div>   


