<div><%= flash[:success] %></div>
<%= yield %>

<h1>Details of: <%= @event.name %></h1>

<ul>
  <li>Address: <%= @event.full_address %></li>
  <li>Picture: <%= @event.picture_url %></li>
  <li>Description: <%= @event.description %></li>
  <li>Company: <%= @event.company %></li>
  <li>User email: <%= @event.user.email %></li>
<div
  id="map"

  style="width: 40%;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</ul>


<% if @event.user == current_user %>
<%= link_to 'Edit', edit_organizer_event_path(@event), class: "btn btn-primary" %>
<%= link_to 'Delete', organizer_event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>


<div border-color: black; border-style:solid;
border-width: 2px; border-radius: 10px >
  <%= simple_form_for [:organizer, @event, @job] do |f| %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :start_at, as: :string, input_html: {class: "datetimepicker"} %>
    <%= f.input :end_at, as: :string, input_html: {class: "datetimepicker"} %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>

<h2> Jobs list for <%= @event.name %>:</h2>
  <ul>
    <% @event.jobs.each do |job| %>
      <li><%= link_to 'See details', job_path(job) %> | <%= job.status %> | <%= job.event.name %> | <%= job.category %> | <%= job.start_at %> | <%= job.end_at %></li>

    <% end %>
  </ul>
