<h1>Details of: <%= @event.name %></h1>

<ul>
  <li>Address: <%= @event.full_address %></li>
  <li>Picture: <%= @event.picture_url %></li>
  <li>Description: <%= @event.description %></li>
  <li>Company: <%= @event.company %></li>
  <li>User email: <%= @event.user.email %></li>
</ul>

<br>

<%= link_to 'Edit', edit_organizer_event_path(@event), class: "btn btn-primary" %>
<%= link_to 'Delete', organizer_event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %> 
