<h1>Details of: <%= @event.name %></h1>

<ul>
  <li>Address: <%= @event.full_address %></li>
  <li>Picture: <%= @event.picture_url %></li>
  <li>Description: <%= @event.description %></li>
  <li>Company: <%= @event.company %></li>
  <li>User email: <%= @event.user.email %></li>
</ul>


<div border-color: black; border-style:solid;
border-width: 2px; border-radius: 10px >
  <%= simple_form_for [:organizer, @event, @job] do |f| %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>


<h2>Ici la liste des job position correspondants à cet event :</h2>


  <% @event.jobs.each do |job| %>
  Category : <%= job.category %>
  Description : <%= job.description %>
  Start : <%= job.start_date %> : <%= job.start_time %>
  End : <%= job.end_date %> : <%= job.end_time %>
  <% end %>
