<div class="banner-es" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/1025/375/?random;">
  <div class="container">
    <div class="banner-content">
      <h1><%= @event.name %></h1>
    </div>
  </div>
</div>

Picture: <%= @event.picture_url %>



<div class="corps">
  
  <h2>Description: <%= @event.description %></h2>
  <h2>Company: <%= @event.company %></h2>
  <h2>User email: <%= @event.user.email %></h2>
  <h2>Lieu : <%= @event.full_address %></h2>
  <div
    id="map"
    style="width: 40%;
    height: 200px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  </ul>
  <% if @event.user == current_user %>
  <%= link_to 'Edit event', edit_organizer_event_path(@event), class: "btn btn-primary" %>
  <%= link_to 'Delete event', organizer_event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
</div>





<% category=[] %>
<% skills=Skill.all %>
<% skills.each do |s| %>
<% category << s.category %>
<% end %>


<% name=[] %>
<% skills=Skill.all %>
<% skills.each do |s| %>
<% name << s.name %>
<% end %>


  
  
  <div class="corps">
  <%= simple_form_for [:organizer, @event, @job] do |f| %>
 <div id="list" data-job-categories="<%= Skill.all.to_json %>">
    <select class="form-control select optional" id="job_category">
      <option value=""></option>
      <option value="Son - Lumière">Son - Lumière</option>
      <option value="Vidéo - Image">Vidéo - Image</option>
      <option value="Structure - Rigger - Plateau">Structure - Rigger - Plateau</option>
      <option value="Emplois techniques des services généraux">Emplois techniques des services généraux</option>
      <option value="Décors - Costume">Décors - Costume</option>
    </select>
    <%= f.association :skill, label:'Choose a skill', collection: name.uniq %>
    <%= f.input :description, requierd: true, placeholder: "Add some free text to provide additional information.." %>
    <div class="inlindedate">
    <%= f.input :start_at, label: false, requierd: true, placeholder: "début de l'embauche", as: :string, input_html: {class: "datetimepicker"} %>
    <%= f.input :end_at, label: false, requierd: true, placeholder: "fin de l'embauche", as: :string, input_html: {class: "datetimepicker"} %>
    </div> 
    <div class="boutoncreate">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
<% end %>
</div>

  <div class="corps">
    <p> Jobs list for <%= @event.name %></p>
    <% @event.jobs.each do |job| %>
      <%= link_to job_path(job) do %>
        <div class="card-product-show">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
          <div class="card-product-infos-show" >
            <h2><%= job.skill.category %></h2>
            <p>Status: <strong><%= job.status %></strong></p>
          </div>
        </div>
      <% end %>
      <% end %>
  </div>

<!-- commenaire useless pour regul git -->



<h2> Jobs list for <%= @event.name %>:</h2>
  <ul>
          <% @event.jobs.each do |job| %>
            <li><%= link_to 'See details', job_path(job) %> | <%= job.status %> | <%= job.event.name %> | <%= job.skill.category %> | <%= job.start_at %> | <%= job.end_at %>
              <% if current_user == @event.user %>
                <%= button_to "delete", organizer_event_job_path(@event, job), method: :delete %></li>
              <% end %>
    <% end %>
  </ul>



