<h1> List of Jobs</h1>

<ul>
  <% @jobs.each do |job| %>
    <li><%= link_to 'See details', job_path(job) %> | <%= job.status %> | <%= job.event.name %> | <%= job.category %> | <%= job.start_at %> | <%= job.end_at %></li>
  <% end %>
</ul>