<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.redsundyechem.com/wp-content/uploads/2017/03/events-banner.jpg;">
  <div class="container">
    <div class="banner-content">
      <h1>List of all available jobs</h1>
      <%= render "shared/search", path: jobs_path %>
    </div>
  </div>
</div>


<h1> List of Jobs</h1>

<div class="jobs-container">
  <% @jobs.each do |job| %>
    <div class="job-card col-lg-3 col-md-6 col-sm-6 col-xs-12">

      <div class="job-card-top">
        <%= job.status %>
        <a href="#"><i class="fas fa-heart"></i></a>
      </div>

      <div class="job-card-picture">
        <%= link_to job_path(job) do %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
        <% end %>
      </div>

      <div class="job-card-infos">
        <span><i class="fas fa-angle-double-right"></i> <%= job.skill.category %></span>
        <span><i class="fas fa-angle-double-right"></i> <%= job.event.name %></span>
        <p id="job-card-company"><i class="fas fa-building"></i> <%= job.event.company %></p>
        <span><i class="far fa-calendar"></i> <strong><%= job.event.start_date %></strong> until <strong><%= job.event.end_date %></strong></span>
      </div>

      <div class="job-card-bottom">
        <span><i class="fas fa-map-marker-alt"></i> <%= job.event.full_address.split(' ').last %></span>
        <span ><%= link_to 'See details', job_path(job), class:"card-bottom-btn" %></span>
      </div>

    </div>
  <% end %>
</div>