<h1> Details about: <%= @job.id %></h1>
<%= link_to 'Back to the list', jobs_path %>

<div class="col-xs-12 col-sm-6 col-md-4">
  <li> Job #<%= @job.id %></li>
  <li> Status: <%= @job.status %></li>
  <li> Category: <%= @job.category %></li>
  <li> Description<%= @job.description %></li>
  <li> Starts On: <%= @job.start_at %></li>
  <li> Ends On: <%= @job.end_at %></li>
</div>

<% if current_user.organizer == false %>
  <li><%= link_to 'Apply for this Job', job_applies_path(@job) %> 
<% end %>