<h1> Details about: <%= @job.skill.name %></h1>
<%= link_to 'Back to the list', jobs_path %>

<div class="col-xs-12 col-sm-6 col-md-4">

  <li> Category: <%= @job.skill.category %></li>
  <li> Status: <%= @job.status %></li>
  <li> Description: <%= @job.description %></li>
  <li> Starts On: <%= @job.start_at %></li>
  <li> Ends On: <%= @job.end_at %></li>
  <li> Skill: <%= @job.skill.category %></li>
</div>



<% if current_user.organizer == false %>
  <%= simple_form_for [@job, @apply] do |f| %>
    <%= f.hidden_field :status, value: "Pending" %>
    <%= f.submit "Apply for this Job", class: "btn btn-primary" %>
  <% end %>
<% end %>
