<h1> Details about: <%= @job.id %></h1>
<%= link_to 'Back to the list', jobs_path %>

<div class="col-xs-12 col-sm-6 col-md-4">
  <li> Job: #<%= @job.id %></li>
  <li> Status: <%= @job.status %></li>
  <li> Description: <%= @job.description %></li>
  <li> Starts On: <%= @job.start_at %></li>
  <li> Ends On: <%= @job.end_at %></li>
  <li> Skill: <%= @job.skills.category %></li>
</div>

<% if current_user.organizer == false %>
<<<<<<< HEAD
  <li><%= link_to 'Apply for this Job', job_applies_path(@job) %>
<% end %>
=======
  <%= simple_form_for [@job, @apply] do |f| %>
    <%= f.hidden_field :status, value: "Pending" %>
    <%= f.submit "Apply for this Job", class: "btn btn-primary" %>
  <% end %>
<% end %>
>>>>>>> 20a464d7d75c12301d4b9ff98ad00b636bc2ab61
