<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://createurdimages.ecpad.fr/wp-content/uploads/2014/12/2014ECPA369L001_014-2048x1112.jpg;">
  <div class="container">
    <div class="banner-content">
      <h1>List of all available Technicians</h1>
      <%= render "shared/search", path: users_path %>
    </div>
  </div>
</div>

<div class="div">
  <p> </p>
</div>

<div class="container user-cards">
  <% @users.each do |user| %>
    <% if user.organizer == false %>
      <a href="users/<%= user.id %>">
        <div class="notification std-card">
          <!-- <div class="row"> -->
            <img src="<%= user.picture_url %>" alt="technician picture" id='tech-avatar'class="avatar"/>
            <div class="tech-info">
              <h3><%= user.first_name %></h3>
              <p><span class="last_name"><%= user.last_name %></span></p>
              <p><i class="fas fa-map-marker-alt"></i> -  <%= user.full_address %></p>
              <p><i class="fas fa-envelope"></i> -  <%= user.email %></p>
              <p><i class="fas fa-phone"></i> -  <%= user.phone_number %></p>
              <% user_reviews = Review.where(destinator: user) %>
              <% if user_reviews.count == 0 %>
                  <% averrage_review = nil %>
              <% else %>
                <% averrage_review = 0 %>
                <% user_reviews.each do |review| %>
                  <% averrage_review += review.rating %>
                <% end %>
                <% averrage_review = (averrage_review / user_reviews.count) %>
              <% end %>
              <p> <!-- Rating stars -->
                <% case averrage_review %>
                <% when nil %>
                  <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  (0 avis)
                <% when 0 %>
                  <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  (<%= user_reviews.count %> avis)
                <% when 1 %>
                  <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  (<%= user_reviews.count %> avis)
                <% when 2 %>
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  (<%= user_reviews.count %> avis)
                <% when 3 %>
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  (<%= user_reviews.count %> avis)
                <% when 4 %>
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                  (<%= user_reviews.count %> avis)
                <% when 5 %>
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                  (<%= user_reviews.count %> avis)
                <% end  %>
              </p>
            </div>
            <div class="tech-description">
              <h3>Métier(s)</h3>
              <% user.skills.each do |skill| %>
                <div class='tech-skill'><%= skill.name %> <i class="fa fa-check"></i></div>
              <% end %>
              <p><%= user.description %></p>
            </div>
        </div>
      </a>
    <% end %>
  <% end %>
</div>


<div class="wrapper">
  <!-- Map container -->
  <div
    class="map"
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
