<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://techniscene.eu/wp-content/uploads/2014/12/grandma2.jpg">
  <div class="container">
    <div class="banner-content">
      <h1>Tous les details de votre technicien</h1>
    </div>
  </div>
</div>

<div class="container">
    <%= render 'shared/card_user', user: @user %>

    <% if current_user.organizer? %>
     <!--modal> -->
      <span id="modalspan">
        <div class="text-center">
           <button id="myBtn" class= "btn btn-primary btn-lg">Engager ce candidat
           </button>
           <br>
           <%= link_to users_path do %>
            Revenir sur la page des techniciens
           <% end %>
        </div>
  <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
            <p>Hire <strong><%= @user.first_name %></strong> for:</p>
            <%= simple_form_for [:organizer, @apply] do |f| %>
              <%= f.association :job, collection: current_user.jobs, label_method: :description, value_method: :id %>
              <%= f.hidden_field :user, value: @user.id %>
              <%= f.submit 'Select this job', class: 'btn btn-primary' %>
            <% end %>
        </div>
      </div>
    </span>
  </li>
    <% end %>
  <!-- ---------Historique des avis----------------->
  <h2>Historique des avis</h2>
  <% if @user.reviews.blank? %>
    <div class="notification std-card">
      <img src='https://i.dailymail.co.uk/i/pix/2017/06/07/16/4133DED600000578-4581348-image-a-25_1496848745268.jpg' class="avatar-large"/>
      <div class="notification-content">
        <p><small> </small></p>
        <p>A ce jour, personne n'a laissé un avis a l'issue de vos prestations.</p>
      </div>
    </div>
  <% else %>
    <% @user.reviews.each do |review| %>
      <div class="notification std-card">
        <img src="<%= review.creator.picture_url %>" class="avatar-large"/>
        <div class="notification-content">
          <p> <!-- Rating stars -->
            <%= render "shared/stars", rating: review.rating %>
          </p>
          <p id="review-content"><%= review.content %></p>
          <p><%= review.creator.first_name %> | <small><%= review.created_at %></small></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if current_user.organizer? %>
  <div class="corps">
    <h2>Rédiger un avis</h2>
    <%= render "reviews/new", user: @user, review: @review %>
  </div>
  <br>
  <br>
  <% end %>
</div>




