<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<%= link_to 'Back to the list', users_path %>

<h2>Contact:</h2>
<ul>
  <li>id: <%= @user.id %></li>
  <li>name: <%= @user.first_name %> <%= @user.last_name %></li>
  <li>email: <%= @user.email %></li>
  <li>phone:  <%= @user.phone_number %></li>
</ul>

<h2>Skills:</h2>
<ul>
  <% @user.skills.each do |skill| %>
    <%= skill.name %>
  <% end %>
</ul>


