<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://techniscene.eu/wp-content/uploads/2014/12/grandma2.jpg">
  <div class="container">
    <div class="banner-content">
      <h1>Tous les details de votre technicien</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-product-user">
    <div class="product-back">

      <%= link_to users_path do  %>
        <i class="fas fa-undo"></i> Retour Liste Techniciens
      <% end %>
      </div>

    <div class="image">
      <img src=<% if @user.picture_url.blank? %>
                        <%= "http://swedworks.se/wp-content/uploads/2018/05/person-logo.png" %>
                        <% else %>
                          <%= @user.picture_url %>
                        <% end %>alt="" class="img-rounded img-responsive" />
    </div>
    <blockquote>
      <p><%= @user.first_name %> <%= @user.last_name %></p>
      <small>
        <cite title="Source Title">
          <%= @user.full_address %>
          <i class="fas fa-map-marker-alt"></i>
        </cite>
      </small>
      <div class="product-infos">
        <i class="fas fa-envelope"></i><span> <%= @user.email %>
        </span><br/>
        <i class="fas fa-phone"></i><span> <%= @user.phone_number %></span>
      </div>
    </blockquote>
    <div class="card-product-skills">
      <h2>Métier(s)</h2>
      <ul>
        <% @user.skills.each do |skill| %>
          <li class="skill-tag-users"><%= skill.name %></li>
        <% end %>
      </ul>
    </div>
  </div>


      <% if current_user.organizer? %>
     <!--modal> -->
      <span id="modalspan">
        <div class="text-center">
           <button id="myBtn" class= "btn btn-primary">Engager ce candidat
           </button>
        </div>
  <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
            <p>Hire <strong><%= @user.first_name %></strong> for:</p>
            <%= simple_form_for [:organizer, @apply] do |f| %>
              <%= f.association :job, collection: current_user.jobs, label_method: :description, value_method: :id %>
              <%= f.hidden_field :user, value: @user.id %>
              <%= f.submit 'Select this job', class: 'btn btn-primary' %>
            <% end %>
        </div>
      </span>
    </div>
  </li>
  <% end %>
  <h2 class="fas fa-star">Historique des commentaires</h2>
  <% if @user.reviews.blank? %>
    <div class="notification std-card">
      <img src='https://i.dailymail.co.uk/i/pix/2017/06/07/16/4133DED600000578-4581348-image-a-25_1496848745268.jpg' class="avatar-large"/>
      <div class="notification-content">
        <p><small>Erreur</small></p>
        <p>Personne ne vous n'a encore laisé d'avis sur vous.</p>
      </div>
    </div>
  <% else %>
    <% @user.reviews.each do |review| %>
      <div class="notification std-card">
        <img src="<%= review.creator.picture_url %>" class="avatar-large"/>
        <div class="notification-content">
          <p> <!-- Rating stars -->
            <% case review.rating %>
            <% when 0 %>
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% when 1 %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% when 2 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% when 3 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% when 4 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
            <% when 5 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <% end  %>
          </p>
          <p><%= review.content %></p>
          <p><%= review.creator.first_name %> | <small><%= review.created_at %></small></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if current_user.organizer? %>
  <div class="corps">
    <h2>Rédiger un avis</h2>
    <%= render "reviews/new", user: current_user, review: @review %>
  </div>
  <% end %>
</div>




