<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.enteclive.com/wp-content/uploads/2016/06/entec-16-home-slideshow.jpg;">
    <div class="container">
      <div class="banner-content">
        <h1>On Taff'On, find <span id="banner-typed-text">the right technician</span> in the <strong>right time</strong>!</h1>
        <p>Whether you are a technician or an event organizer, Taff'On will help you do the job!</p>
        <a class="btn btn-warning" href="/organizer/events/new">Post an Event</a>
        <a class="btn btn-secondary" href="/jobs">Find a Gig</a>
      </div>
    </div>
  </div>
<!-- Features area: les petits blocs blancs -->
  <section class="features-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <h4>Search & Create Events</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <h4>Add Jobs</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <h4>Search Technicians</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <h4>Search for Jobs</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing.
            </p>
          </div>
        </div>																		
      </div>
    </div>	
  </section>
<!-- section gaps -->


<!-- job listing -->
<section class="popular-post-area pt-100">
  <div class="job-cards-large">
    <h2>List of available jobs:</h2>
    <p id="h2p">Check all available jobs and find the right position with simple clicks</p>
    <% @jobs.each do |job| %>
      <%= link_to job_path(job) do %>
      <div class="card-product">
        <img src="https://picsum.photos/500/500/?random">
        <div class="card-product-infos">
          <h2><%= job.skill.category %></h2>
          <p><%= job.description %></p>
        </div>
      </div>
      <% end %>
    <% end %>
    <span id="link-job-list"><a href="http://localhost:3000/users">See all available gigs</a></span>
  </div>
</section>
<!-- technicians listing -->
<section class="popular-post-area pt-100">
  <div class="job-cards-large">
    <h2>List of available technicians:</h2>
    <p id="h2p">Check all available technicians and find the right one for your need</p>
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="card-product">
          <div class="card-product-infos">
            <h2><%= user.first_name %></h2>
            <p><%= user.categories %></p>
          </div>
          <img src="https://picsum.photos/500/500/?random">
        </div>
      <% end %>
    <% end %>
    <span id="link-job-list"><a href="http://localhost:3000/users">See all available events</a></span>
  </div>
</section>
<!-- Call for action -->
  <section class="section-gap">
    <div class="callto-area">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content col-lg-9">
            <div class="title text-center">
              <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
              <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <a class="btn btn-warning btn-lg" href="#">I am an Organizer</a>
              <a class="btn btn-light btn-lg" href="#">I am a Candidate</a>
            </div>
          </div>
        </div>	
      </div>
    </div>
  </section>
</div>

