<div class="container tab">
  <ul class="list-inline tabs-underlined">
    <li>
      <% if current_user.organizer? %>
        <p href="#" class="tab-underlined active" id="events-jobs"><%= current_user.event.all.count %> Evenement(s)</p>
      <% else %>
        <p href="#" class="tab-underlined active" id="events-jobs"><%= current_user.applies.all.count %> Candidature(s)</p>
      <% end %>
    </li>
    <li>
      <p href="#" class="tab-underlined" id="profile">Mon profil</p>
    </li>
    <li>
      <p href="#" class="tab-underlined" id="reviews">Mes avis</p>
    </li>
  </ul>
</div>

<!-- onglet event ou job selon organizer ou technician -->
<div class="container" id='events-jobs-content'>
  <% if current_user.organizer? %>
    <h2>My Events:</h2>
      <ul>
        <% current_user.events.each do |event| %>
            <%= link_to organizer_event_path(event) do %>
              <li><%= event.name %><%= link_to organizer_event_path(event), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash destroy_dose"></i> ||
            <% end %>
              <% event.jobs.each do |job| %>
                <% if job.applies.present? %>
                  Number of applicants: <%= job.applies.count %> ||
                    <!--modal> -->
                    <span id="modalspan">
                      <button id="myBtn" class= "btn btn-primary">See Applicants</button>
                      <!-- The Modal -->
                      <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close">&times;</span>
                            <ul>
                              <% job.applies.each do |apply| %>
                              <!-- Show only pending applications in the modal -->
                                <% if apply.status == "Pending" %>
                                  <li>
                                    <%= apply.id %> | <%= apply.user.first_name %> <%= apply.user.last_name %> | <%= apply.user.email %>| <% apply.user.skills.each do |skill| %><%= skill.name %><% end %>| <%= apply.status %>
                                    <!--Accept Button> -->
                                      <%= simple_form_for (apply) do |f| %>
                                        <%= f.hidden_field :status, value: "Accepted" %>
                                        <%= f.submit "Accept", class: "btn btn-sm btn-success" %>
                                      <% end %>
                                    <!--Reject Button> -->
                                      <%= simple_form_for (apply) do |f| %>
                                        <%= f.hidden_field :status, value: "Rejected" %>
                                        <%= f.submit "Reject", class: "btn btn-sm btn-danger" %>
                                      <% end %>
                                  </li>
                                  <!-- If status is Rejected you can accept it-->
                                <% elsif apply.status == "Rejected" %>
                                  <li>
                                    <%= apply.id %> | <%= apply.user.first_name %> <%= apply.user.last_name %> | <%= apply.user.email %>| <% apply.user.skills.each do |skill| %><%= skill.name %><% end %>| <%= apply.status %>
                                    <!--Accept Button> -->
                                      <%= simple_form_for (apply) do |f| %>
                                        <%= f.hidden_field :status, value: "Accepted" %>
                                        <%= f.submit "Accept", class: "btn btn-sm btn-success" %>
                                      <% end %>
                                  </li>
                                <% else %>
                                <!-- If status is Accepted you can reject it-->
                                  <li>
                                    <%= apply.id %> | <%= apply.user.first_name %> <%= apply.user.last_name %> | <%= apply.user.email %>| <% apply.user.skills.each do |skill| %><%= skill.name %><% end %>| <%= apply.status %>
                                    <!--Accept Button> -->
                                      <%= simple_form_for (apply) do |f| %>
                                        <%= f.hidden_field :status, value: "Rejected" %>
                                        <%= f.submit "Reject", class: "btn btn-sm btn-danger" %>
                                      <% end %>
                                  </li>
                                <% end %>
                              <% end %>
                            </ul>
                        </div>
                      </span>
                    </div>
                  </li>
                <% end %>
              <% end %>
          <% end %>
        <% end %>
      </ul>
    <br>
  <% end %>

  <% if current_user.organizer == false %>
    <h2>Applied for:</h2>
      <ul>
        <% current_user.applies.each do |apply| %>
          <li>Application #<%= apply.id %>|| Event name: <%= apply.job.event.name %> || Status: <%= apply.status %></li>
        <% end %>
      </ul>
    <br>

  <% end %>
</div>

<div class="container hidden" id='profile-content'>
  <h2>Contact:</h2>
  <ul>
    <li>id: <%= current_user.id %></li>
    <li>name: <%= current_user.first_name %> <%= current_user.last_name %></li>
    <li>email: <%= current_user.email %></li>
    <li>phone:  <%= current_user.phone_number %></li>
  </ul>

  <h2>Skills:</h2>
  <ul>
    <% if @have_skills.blank? %>
      <li>No skills yet, add one from the form bellow</li>
    <% else %>
      <% @have_skills.each do |have_skill| %>
        <li><%= have_skill.skill.name %></li>
      <% end %>
    <% end %>
  </ul>

  <%= render 'have_skills/new', user: current_user, haveskill: @have_skill %>
</div>

<div class="container hidden" id='reviews-content'>
  <% if current_user.reviews.blank? %>
    <div class="notification">
      <img src='https://i.dailymail.co.uk/i/pix/2017/06/07/16/4133DED600000578-4581348-image-a-25_1496848745268.jpg' class="avatar-large"/>
      <div class="notification-content">
        <p><small>Erreur</small></p>
        <p>Personne ne vous n'a encore laisé d'avis sur vous.</p>
    </div>
  <% else %>
    <% current_user.reviews.each do |review| %>
      <div class="notification">
        <img src='<%= review.creator.picture_url %>' class="avatar-large"/>
        <div class="notification-content">
          <p><%= review.creator.first_name %> | <small><%= review.created_at %></small></p>
          <p><%= review.content %></p>
          <p> <!-- Rating stars -->
            <% case review.rating %>
            <% when 0 %>
            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% when 1 %>
            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% when 2 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% when 3 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% when 4 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
            <% when 5 %>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <% end  %>
          </p>
        </div>

        <div class="notification-actions">
          <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
          <a href="#">Delete <i class="far fa-trash-alt"></i></a>
        </div>
      </div>
    <% end %>
  <% end %>









