<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>

<h2>Contact:</h2>
<ul>
  <li>id: <%= current_user.id %></li>
  <li>name: <%= current_user.first_name %> <%= current_user.last_name %></li>
  <li>email: <%= current_user.email %></li>
  <li>phone:  <%= current_user.phone_number %></li>
</ul>

<% if current_user.organizer? %>
  <h2>My Events:</h2>
    <ul> 
      <% current_user.events.each do |event| %>
          <%= link_to organizer_event_path(event) do %>
            <li><%= event.name %><%= link_to organizer_event_path(event), method: :delete, data: { confirm: "Are you sure?" } do %> 
            <i class="fa fa-trash destroy_dose"></i> ||
          <% end %>
            <% event.jobs.each do |job| %>
              <% if job.applies.present? %>
                Number of applicants: <%= job.applies.count %> || 
                  <!--modal> -->
                  <span id="modalspan">
                    <button id="myBtn" class= "btn btn-primary">See Applicants</button>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close">&times;</span>
                          <ul>
                            <% job.applies.each do |apply| %>
                              <li>
                                <%= apply.id %> | <%= apply.user.first_name %> <%= apply.user.last_name %>| <%= apply.user.email %>| <% apply.user.skills.each do |skill| %><%= skill.name %><% end %>
                                <!--Accept Button> -->
                                  <%= simple_form_for (apply) do |f| %>
                                    <%= f.hidden_field :status, value: "Accepted" %>
                                    <%= f.submit "Accept", class: "btn btn-sm btn-success" %>
                                  <% end %>
                                <!--Reject Button> -->
                                  <%= simple_form_for (apply) do |f| %>
                                    <%= f.hidden_field :status, value: "Rejected" %>
                                    <%= f.submit "Reject", class: "btn btn-sm btn-danger" %>
                                  <% end %>
                              </li>
                            <% end %>
                          </ul>
                      </div>
                    </span>
                  </div>
                </li>
              <% end %>
            <% end %>
        <% end %>
      <% end %>
    </ul>
  <br>
<% end %>

<% if current_user.organizer == false %>
  <h2>Applied for:</h2>
    <ul>
      <% current_user.applies.each do |apply| %>
        <li>Application #<%= apply.id %>|| Event name: <%= apply.job.event.name %> || Status: <%= apply.status %></li>
      <% end %>
    </ul>
  <br>
  <h2>Skills:</h2>
    <ul>
      <% current_user.skills.each do |skill| %>
        <%= skill.name %>
      <% end %>
    </ul>
<% end %>


<h2>Reviews:</h2>
<ul>
  <% if current_user.reviews.blank? %>
    <li>No existing reviews, be the first to post a review!</li>
  <% else %>

  <% current_user.reviews.each do |review| %>
      <li>
        <%= review.rating %>
        <%= review.content %>
      </li>
    <% end %>
  <% end%>
</ul>


