<div class="container tab top">
  <%= render 'pages/profile/tabs' %>
</div>

<div class="profile-container container">
  <div class="" id='events-jobs-content'>
    <!-- onglet event ou job selon organizer ou technician -->
    <% if current_user.organizer? %>
      <%= render 'pages/profile/events' %>
    <% elsif current_user.organizer == false %>
      <%= render 'pages/profile/applies' %>
    <% end %>
  </div>

  <div class=" hidden" id='profile-content'>
    <%= render 'pages/profile/infos' %>
  </div>

  <div class=" hidden" id='reviews-content'>
    <%= render 'pages/profile/reviews' %>
  </div>
</div>
