<div class="container tab top">
  <%= render 'pages/profile/tabs' %>
</div>

<div class="profile-container container">
  <% if @unread_notifications == 0 %>
  <div class="" id='events-jobs-content'>
  <% else %>
  <div class="hidden" id='events-jobs-content'>
  <% end %>
      <% if current_user.organizer? %>
        <%= render 'pages/profile/events' %>
      <% elsif current_user.organizer == false %>
        <%= render 'pages/profile/applies' %>
      <% end %>
    </div>

  <div class="hidden" id='profile-content'>
    <%= render 'pages/profile/infos' %>
  </div>

  <div class="hidden" id='reviews-content'>
    <%= render 'pages/profile/reviews' %>
  </div>

  <% if @unread_notifications == 0 %>
  <div class="hidden" id='notifications-content'>
  <% else %>
  <div class="" id='notifications-content'>
  <% end %>
      <%= render 'pages/profile/profile-notifications' %>
    </div>
</div>


