<div class="container pay-style">
  <div class="row">
      <h1>Promouvoir cette mission <%= @order.job_sku %></h1>
      <%= form_tag order_payments_path(@order) do %>
        <article>
          <label class="amount">
            <h3>Envoyer un SMS aux techniciens situés à proximité du lieu de l'évènement</h3>
            <span>Prix: 5€</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Promouvoir une mission sur Taff'on"
          data-email="<%= current_user.email %>"
          data-description="job <%= @order.job_sku %>"
          data-amount="<%= @order.amount %>"
          data-currency="eur"></script>
      <% end %>
  </div>
</div>