<!-- Modal content -->
<div class="modal-content text-left">
  <span class="close">&times;</span>

    <% if job.applies.blank? %>
      <h2>Désolé, personne n'as encore postulé pour l'instant</h2>
      <p>Astuce : Vous pouvez aller dans la liste des techniciens pour trouver une personne qui vous correspondrait pour ce poste.</p>
    <% else %>
      <% job.applies.each do |apply| %>

          <div class="container profile-event-card modal-tech-info">
            <img src="<%= apply.user.picture_url %>" alt="technician picture">
            <div class="tech-info">
              <h2><%= apply.user.first_name %> <span class="last_name"><%= apply.user.last_name %></span></h2>
              <p><i class="fas fa-map-marker-alt"></i> -  <%= apply.user.full_address %></p>
              <p><i class="fas fa-envelope"></i> -  <%= apply.user.email %></p>
              <p><i class="fas fa-phone"></i> -  <%= apply.user.phone_number %></p>
            </div>
            <div class="container">
              <% apply.user.skills.each do |skill| %>
                <div class='tech-skill'><%= skill.name %> <i class="fa fa-check"></i></div>
              <% end %>
            </div>
            <div class="container col-xs-10">
              <p><%= apply.user.description %></p>
            </div>
            <div class="col-xs-2 text-center">
              <% if apply.status == "Pending" || apply.status == "Accepted" %>
                <!--Reject Button> -->
                <%= simple_form_for (apply) do |f| %>
                  <%= f.hidden_field :status, value: "Rejected" %>
                  <%= f.submit '✖', class: "btn btn-sm btn-danger" %>
                <% end %>
              <% end %>
              <% if apply.status == "Pending" || apply.status == "Rejected" %>
                <!--Accept Button> -->
                <%= simple_form_for (apply) do |f| %>
                  <%= f.hidden_field :status, value: "Accepted" %>
                  <%= f.submit '✔', class: "btn btn-sm btn-success" %>
                <% end %>
              <% end %>
            </div>
          </div>

      <% end %>
    <% end %>

</div>
