<!-- Modal content -->
<% category=[] %>
<% skills=Skill.all %>
<% skills.each do |s| %>
  <% category << s.category %>
<% end %>
<%= category.uniq! %>

<% name=[] %>
<% skills=Skill.all %>
<% skills.each do |s| %>
  <% name << s.name %>
<% end %>
<% name.uniq! %>


<div class="modal-content text-left">
  <span class="close text-right create-job-close">&times;</span>
  <%= render 'shared/card-event', event: event %>
  <br><br>
  <%= simple_form_for([:organizer, event, job]) do |f| %>
    <div id="list" data-job-categories="<%= Skill.all.to_json %>">
      <label class="form-control-label select required" for="">Plage de la mission :</label>
      <div class="">
        <div class="job-date">
        <%= f.input :start_at, label: false, requierd: true, placeholder: "début de l'embauche", as: :string, input_html: {class: "datetimepicker", value: event.start_date} %>
        </div>
        - au -
        <div class="job-date">
        <%= f.input :end_at, label: false, requierd: true, placeholder: "fin de l'embauche", as: :string, input_html: {class: "datetimepicker", value: event.end_date} %>
        </div>
      </div>

      <div class="form-group select required job_skill">
        <label class="form-control-label select required" for="job_skill_id">Choisissez une catégorie</label>
        <select class="form-control select optional" id="job_category">
          <option value=""></option>
          <% category.each do |category| %>
            <option value="<%= category %>"><%= category %></option>
          <% end %>
        </select>
      </div>
      <%= f.association :skill, label:'Métier :', collection: name %>

      <%= f.input :description, as: :text, requierd: true, placeholder: "Ajoutez une description pour fournir des informations supplémentaires..." %>

      <%= f.hidden_field :event_id, :value => event.id  %>

      <div class="boutoncreate">
        <%= f.submit "Créer", class: "btn btn-primary" %>
      </div>

    </div>
  <% end %>

</div>
