<!-- Modal content -->
<% category=[] %>
<% skills=Skill.all %>
<% skills.each do |s| %>
<% category << s.category %>
<% end %>

<% name=[] %>
<% skills=Skill.all %>
<% skills.each do |s| %>
<% name << s.name %>
<% end %>

<div class="modal-content text-left">
  <span class="close text-right">&times;</span>

  <%= simple_form_for([:organizer, event, job], method: :post, url: create_job_event_profile_path) do |f| %>
   <div id="list" data-job-categories="<%= Skill.all.to_json %>">
      <div class="form-group select required job_skill">
        <label class="form-control-label select required" for="job_skill_id">Choisissez une catégorie</label>
        <select class="form-control select optional" id="job_category">
          <option value=""></option>
          <option value="Son - Lumière">Son - Lumière</option>
          <option value="Vidéo - Image">Vidéo - Image</option>
          <option value="Structure - Rigger - Plateau">Structure - Rigger - Plateau</option>
          <option value="Emplois techniques des services généraux">Emplois techniques des services généraux</option>
          <option value="Décors - Costume">Décors - Costume</option>
        </select>
      </div>
      <%= f.association :skill, label:'Choose a skill', collection: name.uniq %>
      <%= f.input :description, requierd: true, placeholder: "Add some free text to provide additional information.." %>
      <div class="inlindedate">
        <%= f.input :start_at, label: false, requierd: true, placeholder: "début de l'embauche", as: :string, input_html: {class: "datetimepicker"} %>
        <%= f.input :end_at, label: false, requierd: true, placeholder: "fin de l'embauche", as: :string, input_html: {class: "datetimepicker"} %>
      </div>
      <%= f.hidden_field :title, :value => event  %>
      <div class="boutoncreate">
        <%= f.submit "Create", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>


</div>
