<!-- Modal content -->
<div class="modal-content text-left">
  <span class="close text-right">&times;</span>

    <% if job.applies.blank? %>
      <div class="card-product card-job-event">
        <div class="card-product-description">
          <h2>Désolé, personne n'as encore postulé pour l'instant</h2>
          <p>Astuce : Vous pouvez aller dans la liste des techniciens pour trouver une personne qui vous correspondrait pour ce poste.</p>
        </div>
      </div>
    <% else %>
      <% job.applies.each do |apply| %>
        <div class="notification std-card">
          <div class="row">
            <img src="<%= apply.user.picture_url %>" alt="technician picture" class="avatar"/>
            <div class="modal-tech-info">
              <h2><%= apply.user.first_name %> <span class="last_name"><%= apply.user.last_name %></span></h2>
              <p><i class="fas fa-map-marker-alt"></i> -  <%= apply.user.full_address %></p>
              <p><i class="fas fa-envelope"></i> -  <%= apply.user.email %></p>
              <p><i class="fas fa-phone"></i> -  <%= apply.user.phone_number %></p>
            </div>
            <div class="modal-tech-description">
              <% apply.user.skills.each do |skill| %>
                <div class='tech-skill'><%= skill.name %> <i class="fa fa-check"></i></div>
              <% end %>
              <p><%= apply.user.description %></p>
            </div>
            <div class="modal-accept-reject">
              <div>
                <div class="">
                <% if (apply.status == "Pending") || (apply.status == "Rejected") %>
                  <!--Accept Button> -->
                  <%= simple_form_for (apply), html: {class: 'modal-accpt-reject'} do |f| %>
                    <%= f.hidden_field :status, value: "Accepted" %>
                    <%= f.submit 'Accepter', class: "accept-reject-btn btn btn-sm btn-success" %>
                  <% end %>
                <% end %>
                <% if (apply.status == "Pending") || (apply.status == "Accepted") %>
                  <!--Reject Button> -->
                  <%= simple_form_for (apply), html: {class: 'modal-accpt-reject'} do |f| %>
                    <%= f.hidden_field :status, value: "Rejected" %>
                    <%= f.submit 'Refuser', class: "accept-reject-btn btn btn-sm btn-danger" %>
                  <% end %>
                <% end %>
                <% if (apply.status == "Accepted") %>
                  <a href="users/<%= apply.user.id %> " class='btn btn-sm btn-primary accept-reject-btn'>Ecrire un avis</a>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <a href="users?query=<%= job.skill.name %>" class='modal-card-link'>
      <div class="card-product card-job-event add-card">
        <div class="card-product-description">
          <h2><i class="fas fa-plus"></i> Ajouter un autre technicien (taffon s'occupe de la recherche)</h2>
        </div>
      </div>
    </a>
</div>
